body {
    background-color: rgba(148, 126, 79, 0.644);
    color: #000000;
}
.jumbotron {
    background-image: url("../css/header.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #000000; 
    
}